footer {
  border-top: 1px solid black;
  text-align: center;
  padding: 3px;
  padding-top: 50px;
  margin-top: auto;
  color: white;
  background-color: rgb(170, 18, 18);
}
.footer_links {
  display: flex;
  justify-content: space-evenly;
}
.footer_link {
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer_logo {
  width: 25px;
}
